on:
  release:
    types:
      - published

name: publish

jobs:
  publish:
    if: ${{ github.ref_type != 'tag' || startsWith(github.ref_name, 'tiny-packages') }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Publish all packages
        run: ./scripts/publish-all-npm.sh
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUN_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Clean up after npm style
        run: ./scripts/clean-all-npm.sh
      - name: Publish all packages
        run: ./scripts/publish-all-jsr.sh

