on:
  release:
    types:
      - published

name: publish

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Publish all packages
        run: ./scripts/publish-all-npm.sh
      - name: Clean up after npm style
        run: ./scripts/clean-all-npm.sh

